.idea
.vagrant
*.box
.envrc

manifests/cf-manifest.yml
bosh_lite_manifest.yml

latest-bosh*-stemcell-warden.*
bosh-stemcell-*-warden-*

/tmp/compiled_package_cache/*

output-virtualbox-iso
output-vmware-iso
packer_cache
packer-bosh
pkg
